.card-content {
  display: flex;
  justify-content: space-around;
  max-height: 100px;
  img {
    object-fit: contain;
    max-width: 100px;
  }
}
.formContainer{
  display: flex;
  justify-content: space-around;
  .imagePreview {
    max-height: 160px;
    object-fit: contain;
  }
}
.newChallengeForm {
  display: flex;
  flex-direction: column;
}
.content::after {
  content: "";
  background: url('../../assets/tiles/polkaYellow.jpg');
  background-size: contain;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}