.anxiety, .trainings {
  display: flex;
  flex-flow: column;
  align-items: center;
  
  p {
    margin: 1em;
  }
}
.illustration {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  img {
    max-width: 70px;;
  }
}
.trainings {
  .mat-list {
    width: 100%;
    .mat-list-item {
      margin: 0.5em;
      background-color: #87E1E45F;
      color: #5d5d5d;
    }
    .mat-list-item:hover {
      background-color: #87E1E43F;
      cursor: pointer;
    }
    .mat-list-item:nth-child(2n) {
      background-color:#FED4695F;
    }
    .mat-list-item:nth-child(2n):hover {
      background-color:#FED4693F;
    }
  }
}
.calm {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
} 